.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | MyStorePrice
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          //a(href='/') Home
        li(class=title=='API Examples'?'active':undefined)
          //a(href='/api') API Examples
        li(class=title=='Contact'?'active':undefined)
          //a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        if !user

          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li
            a(href="/product" title="Add Product")
              i.fa.fa-plus  Product
          li
            a(href="/create/store" title="Add Store")
              i.fa.fa-plus  Store
          li
            a(href="/merchant" title="Add Merchant")
              i.fa.fa-plus  Merchant


          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}' width="20px" height="20px")
              else
                img(src='#{user.gravatar(60)}'  width="20px" height="20px")
              |   #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout