extends layout

block content
	h1 My Store Price
	p.lead We will give you better experience.
	hr
  
	div.row
	include productCard

	div.row
		+renderProducts(products)
	script.
		$(document).ready(function () {
			getuserLocation();
		});
     