doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js">
    script(src='./js/lib/leaflet.js')
    script(src='/socket.io/socket.io.js')
    script(src='./js/application.js')
    script(src="https://apis.google.com/js/client:platform.js?onload=startApp")
    meta(name='csrf-token', content=_csrf)
    title #{title} - MyStorePrice
    != css('frameworks')
    != css('styles')  
  body
    include partials/header

    .container
      include partials/flash
      block content

    .container.pull-bottom
      include partials/footer

    != js('application')