extends layout 
 
block content
    if isCreate
      h2.page-header Create a new #{type}
    else
      h2.page-header Update #{type}
    form.form-horizontal(role="form" name="createMerchant" method="post")
      input(type='hidden', name='_csrf', value=_csrf) 

      .form-group
        label.col-sm-3.control-label(for='name') Name:
        div.col-sm-9.col-md-6
          input.form-control(type="text",name="name" value=merchant.name maxlength=100 placeholder="Mention Name of the Merchant")

      .form-group
        label.col-sm-3.control-label(for='address') Address:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="address" value=merchant.address  maxlength=100 placeholder="Mention YOur Store Address")

      .form-group
        label.col-sm-3.control-label(for='email') Email:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="email" value=user.email||merchant.email maxlength=30)   
      .form-group
        label.col-sm-3.control-label(for='about') About:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="about" value=merchant.about  maxlength=100 placeholder="Mention Description")

      .form-group
        label.col-sm-3.control-label(for='contact') Contact No.:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="contact" value=merchant.contact placeholder="Mention Mobile Number")

      .form-group
        label.col-sm-3.control-label(for='latitude') Latitude:
        div.col-sm-4.col-md-2
          input.form-control(type="text" name="latitude" value=merchant.latitude  placeholder="Mention latitude")

      .form-group
        label.col-sm-3.control-label(for='longitude') Longitude:
        div.col-sm-4.col-md-2
          input.form-control(type="text" name="longitude" value=merchant.longitude placeholder="Mention longitude")
      
      .form-group
       div.col-sm-offset-3.col-sm-9
        if isCreate
          input(class="btn btn-success" type="submit" value="Create")
        else
          input(class="btn btn-success" type="submit" value="Update")