extends layout
block vars
  if isCreate
      - title = 'Create product';
  else
      - title = 'Editing: product';

 
 
block content
    if isCreate
      h2.page-header Create a new Product
    else
      h2.page-header Update Product
    form.form-horizontal(role="form" name="createProduct" method="post")
      input(type='hidden', name='_csrf', value=_csrf) 

      .form-group
        label.col-sm-3.control-label(for='title') Title:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="title" value=product.title maxlength=100 placeholder="Mention Title of the product")

      .form-group
        label.col-sm-3.control-label(for='desc') Description:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="desc" value=product.description  maxlength=100 placeholder="Product Description")

      .form-group
        label.col-sm-3.control-label(for='category') Category:
        div.col-sm-6.col-md-2
          select(class="form-control" name='category' required)
              option(value='0' selected=product.status==0) Mobile
              option(value='1' selected=product.status==1) Laptop
              option(value='2' selected=product.status==2) TV
              option(value='3' selected=product.status==3) Washing Machine
              option(value='4' selected=product.status==4) Refridgerator
                
      .form-group
        label.col-sm-3.control-label(for='mrp') MRP:
        div.col-sm-4.col-md-2
          input.form-control(type="number" step="0.1" name="mrp" value=product.mrp  maxlength=100 placeholder="Mention MRP")
      .form-group
        label.col-sm-3.control-label(for='price') Price:
        div.col-sm-4.col-md-2
          input.form-control(type="number" step="0.10" name="price" value=product.price  maxlength=100 placeholder="Mention Price")

      .form-group
        label.col-sm-3.control-label(for='discount') Discount:
        div.col-sm-4.col-md-2
          input.form-control(type="number" step="0.10" name="discount" value=product.latitude  placeholder="Mention discount")

      .form-group
        label.col-sm-3.control-label(for='size') Screen Size:
        div.col-sm-4.col-md-2
          input.form-control(type="number" step="0.10" name="size" value=product.size placeholder="Mention Size")

      .form-group
        label.col-sm-3.control-label(for='brand') Brand:
        div.col-sm-4.col-md-2
          input.form-control(type="text" name="brand" value=product.brand placeholder="Mention Brand")

      .form-group
        label.col-sm-3.control-label(for='model') Model:
        div.col-sm-4.col-md-2
          input.form-control(type="model" name="model" value=product.model placeholder="Mention Model")

      .form-group
        label.col-sm-3.control-label(for='image') Image:
        div.col-sm-9.col-md-6
          input.form-control(type="text" name="image" value=product.image placeholder="Paste URL of Product image")
      if(store == null)
        .form-group
          label.col-sm-3.control-label(for='store') Store :
          - vas=0;
          each store in stores
            div.col-sm-1.col-md-1
              input.form-control(type="checkbox" name="store"+vas) 
              | store #{vas}
              - vas = vas+1;

      .form-group
       div.col-sm-offset-3.col-sm-9
        if isCreate
          input(class="btn btn-success" type="submit" value="Create")
        else
          input(class="btn btn-success" type="submit" value="Update")