mixin renderProducts(products)
  each prod in products
    div.col-sm-6.col-md-4
      div.card
        div.logo.col-sm-4
          img(src=prod.image)
        div.col-sm-8
          div.title.col-sm-12 
            a(href='/product/'+prod.id)  #{prod.title}
          div.col-sm-12
           
            p.desc Desc. #{prod.desc}
          div.venue.row.col-sm-12
            .text-left.col-xs-12 Screen Size: #{prod.size} inch			
            .text-right.col-xs-6 #{prod.model}
          div.venue.row.col-sm-12
            .text-left.col-xs-12 Brand : #{prod.brand}
            .text-right.col-xs-12 Category: #{prod.category}		