.card
  width 100%
  height 160px
  background  #e45fef
  border 1px solid #bbb
  padding  5px
  border-radius 20px
  margin-bottom 20px 
  overflow-x hidden
  overflow-y hidden

.card .title
  font-size 1.5em
  position absolute
  left 100px
  top 5px
  margin-bottom 0px
  width 200px
  max-width 200px
  height 60px
  max-height 60px
  overflow hidden
  text-overflow ellipsis