html, body
  height 100%

body
  padding-top 70px

.grey
  color #888

#wrap
  min-height 100%
  height auto !important
  height 100%
  /* Negative indent footer by its height */
  margin 0 auto -100px
  /* Pad bottom by footer height + (optional) extra spacing */
  padding 0 0 140px

.card
  border 1px solid #ccc
  background-color #f0f0f0
  margin 10px 10px 10px 10px
  height 230px
  border-radius 0px
  overflow hidden
  display block
  text-decoration none
  transition all 0.25s
  padding 10px 10px 10px 10px
  box-shadow 5px 5px 5px #d3d3d3

.card .title
  font-weight bold
  font-size 160%
  color #9a0707

.card:hover
  box-shadow 3px 3px 6px #d3d3d3
  background-color #e8e8e8;
  border 1px solid #bbb

#footer
  font-size 12px
  padding-top 40px
  padding-bottom 40px
  height 100px


.navbar-nav .profile-image
  width 30px
  height 30px
  margin -15px 15px -15px 0


.logo
  padding 0px
  margin 0px
  height 45px

.logo img
	height 50px

// Social Buttons
// -------------------------

.btn-social
  border-radius 2px


// Font Awesome
// -------------------------

[class^="fa-"],
[class*="fa-"]
  margin-right 5px


// API Examples
// -------------------------

.thumb
  padding-left 0 !important
  padding-right 0 !important


.thumb img
  margin-bottom 5px
  margin-right 5px
  opacity 0.2
  transition opacity 0.2s


.facebook-caption
  position absolute
  background-color rgba(0, 0, 0, 0.5)
  font-size 12px
  color #fff
  padding 3px
  bottom 25px


.menu tr.selected
  background-color #5cb85c
